/* <-----------------------------------ourwork by poovarasan-------------------------------- */
body {
  color: white;
  background-color: #323232;
  /* font-family: 'Poppins', sans-serif; */
}
.ourwork {
  font-family: "Poppins", sans-serif;
}
.sunmoonbtn {
  margin: 1rem;
}

.cards {
  transition: 1s ease;
}

.cards:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}

.section3Text {
  color: #d1d5db;
}

.section4 {
  background-color: #292929;
  margin: 0;
}

@media screen and (max-width: 474px) {
  .stats {
    flex-direction: column;
  }
}
